{% extends 'profile/profile_base.html' %}
{% load static widget_tweaks %}
{% load static %}
{% block title_text %}Profile{% endblock %}
{% block extra_css %}
<style>
    .ccss-info{
        padding-top: 10px;
        padding-bottom: 30px;
        border-top: 1px solid #DADADA;}
    .activity-info{
        padding-bottom: 30px;
    }
    .not-show {
        display: none !important;
    }
    #establishment_permit-clear_id, #your_logo-clear_id, #lease_or_domiciliation-clear_id,
    #proof_of_address-clear_id, #id_or_pass-clear_id, #trade_register_certificate-clear_id,
    #vat_certificate-clear_id, #proof_of_ccss_registration-clear_id {
        display: none !important;
    }
    td .actions a{
        font-size: 10px !important;
    }
    .document-delete, .document {
        padding: 0;
        border: none;
        background: transparent;
        font-size: 24px;
        color: #424242;
    }
    
</style>
{% endblock extra_css %}

{% block profile %}

<form method="POST" accept-charset="UTF-8" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between gap-3">
                <h4 class="mb-sm-0" data-i18n="Activity Informations">Activity Informations</h4>
                <div class="page-title-right w-auto">
                    <button type="submit" class="btn btn-dark text-uppercase" data-i18n="updatechanges">
                        Update Changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-3 activity-info">
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <label for="first_name" class="mb-1" data-i18n="Activity Name">
                    Activity Name
                </label>
                {% render_field form.company1 class="form-control" %}
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <label for="last_name" class="mb-1" data-i18n="Activity Registration Number">
                    Activity Registration Number
                </label>
                {% render_field form.company_reg_no class="form-control" %}
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <label for="last_name" class="mb-1" data-i18n="Activity Address">
                    Activity Address
                </label>
                {% render_field form.activity_address class="form-control" %}
            </div>
        </div>
    </div>
    <div class="row ccss-info">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between gap-3">
                <h4 class="mb-sm-0" data-i18n="CCSS information">CCSS information</h4>
               
            </div>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <label for="first_name" class="mb-1" data-i18n="CCSS date of identification">
                    CCSS date of identification
                </label>
                {% render_field form.ccss_data class="form-control" %}
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <label for="last_name" class="mb-1" data-i18n="Mutuality">
                    Mutuality
                </label>
                {% render_field form.mutuality class="form-control" %}
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <label for="email" class="mb-1" data-i18n="Forecasted declared results">
                    Forecasted declared results
                </label>
                {% render_field form.forecasted_declared_results class="form-control" %}
            </div>
        </div>
    </div>
    <div class="mt-4">
        <div class="row">
            <div class="col-lg-9">
                <ul class="checklist">
                    <li>
                        <div class="form-check d-flex">
                            {% render_field form.is_social_exemption|add_class:"form-check-input" %}
                            <label class="form-check-label" for="flexCheckDefault" data-i18n="applied for social">
                                Have you applied for a social contribution exemption?
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check d-flex">
                            {% render_field form.is_contribution_base|add_class:"form-check-input" %}
                            <label class="form-check-label" for="flexCheckDefault1" data-i18n="request adjustment contribution">
                                 Have you requested an adjustment to your contribution
                                base?
                            </label>
                        </div>
                    <li>
                        <div class="form-check d-flex">
                            {% render_field form.is_another_activity|add_class:"form-check-input" %}
                            <label class="form-check-label" for="flexCheckDefault2" data-i18n="have another activity?">
                                Do you have another activity?
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form-check d-flex">
                            {% render_field form.is_supplementary_retirement_coverage|add_class:"form-check-input" %}
                            <label class="form-check-label" for="flexCheckDefault3" data-i18n="supplementary retirement coverage?">
                                 Do you have supplementary retirement coverage?
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tax-information">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between gap-3">
            <h4 class="mb-sm-0" data-i18n="TAX INFORMATION">TAX Information</h4>
        </div>
        <div class="row" id="tax-identification">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="first_name" class="mb-1" data-i18n="Tax identification number">
                        Tax identification number
                    </label>
                    {% render_field form.tax_number class="form-control" %}
                </div>
            </div>
        </div>
        <div class="form-check mt-3">
            {% render_field form.is_subject_to_vat|add_class:"form-check-input" %}
            <label class="form-check-label" for="Subject" data-i18n="Subject to VAT">
                Subject to VAT
            </label>
        </div>
    </div>

    <div class="documents-styled pt-5">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between gap-3">
            <h4 class="mb-sm-0" data-i18n="DOCUMENTS">Documents</h4>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <table class="table bg-white">
                    <thead>
                        <tr>
                            <th data-i18n="documentname">
                                Document Name
                            </th>
                            <th data-i18n="actions">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-i18n="ID card or passport">
                                ID card or passport
                            </td>
                            <td>
                                <div class="actions">
                                    <label for="id_or_pass"><i class="ri-upload-cloud-fill"></i></label>
                                    {% render_field form.id_or_pass class="form-control hide_file not-show" id="id_or_pass" %}
                                    
                                    {% if object.id_or_pass %}
                                    <button class="document-delete" title="Delete" data-name="id_or_pass" data="{{ user_context.pk }}">
                                        <i class="ri-delete-bin-fill"></i>
                                    </button>
                                    <button class="document" data-bs-toggle="modal" data-bs-target="#your_logos" data-url="{% if object.id_or_pass %}{{ object.id_or_pass.url }}{% endif %}">
                                        <i class="ri-eye-fill"></i>
                                    </button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-i18n="Proof of address">
                                Proof of address
                            </td>
                            <td>
                                <div class="actions">
                                    <label for="proof_of_address" title="Upload"><i class="ri-upload-cloud-fill"></i></label>
                                    {% render_field form.proof_of_address class="form-control hide_file not-show" id="proof_of_address" %}
                                    
                                    {% if object.proof_of_address %}
                                    <button class="document-delete" title="Delete" data-name="proof_of_address" data="{{ user_context.pk }}">
                                        <i class="ri-delete-bin-fill"></i>
                                    </button>
                                    <button class="document" data-bs-toggle="modal" data-bs-target="#your_logos" data-url="{% if object.proof_of_address %}{{ object.proof_of_address.url }}{% endif %}">
                                        <i class="ri-eye-fill"></i>
                                    </button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-i18n="Lease or domiciliation contract">
                                Lease or domiciliation contract
                            </td>
                            <td>
                                <div class="actions">
                                    <label for="lease_or_domiciliation" title="Upload"><i class="ri-upload-cloud-fill"></i></label>
                                    {% render_field form.lease_or_domiciliation class="form-control not-show hide_file" id="lease_or_domiciliation" %}
                                    
                                    {% if object.lease_or_domiciliation %}
                                    <button class="document-delete" title="Delete" data-name="lease_or_domiciliation" data="{{ user_context.pk }}">
                                        <i class="ri-delete-bin-fill"></i>
                                    </button>
                                    <button class="document" data-bs-toggle="modal" data-bs-target="#your_logos" data-url="{% if object.lease_or_domiciliation %}{{ object.lease_or_domiciliation.url }}{% endif %}">
                                        <i class="ri-eye-fill"></i>
                                    </button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-i18n="Establishment permit">
                                Establishment permit
                            </td>
                            <td>
                                <div class="actions">
                                    <label for="establishment_permit" title="Upload"><i class="ri-upload-cloud-fill"></i></label>
                                    {% render_field form.establishment_permit class="form-control not-show hide_file" id="establishment_permit" %}
                                    
                                    {% if object.establishment_permit %}
                                    <button class="document-delete" title="Delete" data-name="establishment_permit" data="{{ user_context.pk }}">
                                        <i class="ri-delete-bin-fill"></i>
                                    </button>
                                    <button class="document" data-bs-toggle="modal" data-bs-target="#your_logos" data-url="{% if object.establishment_permit %}{{ object.establishment_permit.url }}{% endif %}">
                                        <i class="ri-eye-fill"></i>
                                    </button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <table class="table bg-white">
                    <thead>
                        <tr>
                            <th data-i18n="documentname">
                                Document Name
                            </th>
                            <th data-i18n="actions">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-i18n="Trade Register Certificate">
                                Trade Register Certificate
                            </td>
                            <td>
                                <div class="actions">
                                    <label for="trade_register_certificate" title="Upload"><i class="ri-upload-cloud-fill"></i></label>
                                    {% render_field form.trade_register_certificate class="form-control not-show hide_file" id="trade_register_certificate" %}
                                    
                                    {% if object.trade_register_certificate %}
                                    <button class="document-delete" title="Delete" data-name="trade_register_certificate" data="{{ user_context.pk }}">
                                        <i class="ri-delete-bin-fill"></i>
                                    </button>
                                    <button class="document" data-bs-toggle="modal" data-bs-target="#your_logos" data-url="{% if object.trade_register_certificate %}{{ object.trade_register_certificate.url }}{% endif %}">
                                        <i class="ri-eye-fill"></i>
                                    </button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-i18n="VAT Certificate">
                                VAT Certificate
                            </td>
                            <td>
                                <div class="actions">
                                    <label for="vat_certificate" title="Upload"><i class="ri-upload-cloud-fill"></i></label>
                                    {% render_field form.vat_certificate class="form-control not-show hide_file" id="vat_certificate" %}
                                    
                                    {% if object.vat_certificate %}
                                    <button class="document-delete" title="Delete" data-name="vat_certificate" data="{{ user_context.pk }}">
                                        <i class="ri-delete-bin-fill"></i>
                                    </button>
                                    <button class="document" data-bs-toggle="modal" data-bs-target="#your_logos" data-url="{% if object.vat_certificate %}{{ object.vat_certificate.url }}{% endif %}">
                                        <i class="ri-eye-fill"></i>
                                    </button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                       
                        <tr>
                            <td data-i18n="Proof of CCSS registration">
                                Proof of CCSS registration
                            </td>
                            <td>
                                <div class="actions">
                                    <label for="proof_of_ccss_registration" title="Upload"><i class="ri-upload-cloud-fill"></i></label>
                                    {% render_field form.proof_of_ccss_registration class="form-control not-show hide_file" id="proof_of_ccss_registration" %}
                                    
                                    {% if object.proof_of_ccss_registration %}
                                    <button class="document-delete" title="Delete" data-name="proof_of_ccss_registration" data="{{ user_context.pk }}">
                                        <i class="ri-delete-bin-fill"></i>
                                    </button>
                                    <button class="document" data-bs-toggle="modal" data-bs-target="#your_logos" data-url="{% if object.proof_of_ccss_registration %}{{ object.proof_of_ccss_registration.url }}{% endif %}"><i class="ri-eye-fill"></i></button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-i18n="Your Logo">
                               Your Logo 
                            </td>
                            <td>
                                <div class="actions">
                                    <label for="your_logo" title="Upload"><i class="ri-upload-cloud-fill"></i></label>
                                    {{ form.your_logo }}
                                    
                                    
                                    {% if object.your_logo %}
                                    <button class="document-delete" title="Delete" data-name="your_logo" data="{{ user_context.pk }}">
                                        <i class="ri-delete-bin-fill"></i>
                                    </button>
                                    <button class="document" data-bs-toggle="modal" data-bs-target="#your_logos" data-url="{% if object.your_logo %}{{ object.your_logo.url }}{% endif %}">
                                        <i class="ri-eye-fill"></i>
                                    </button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal fade" id="your_logos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-white" id="exampleModalLabel">Logo View</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <iframe id="iframe" src="" frameborder="0" style="width: 100%; height: 70vh;"></iframe>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock profile %}



{% block extra_js %}
<script src="{% static 'js/translation.js' %}"></script>
{% endblock extra_js %}