{% extends 'base/dashboard_base.html' %}
{% load static widget_tweaks %}
{% block title_text %}Profile{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card bg-transparent shadow-none">
        <div class="card-body p-0">
            <div class="row mt-5">
                <div class="col-lg-5">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between gap-3">
                        <h4 class="mb-sm-0">Delete Account Request</h4>
                    </div>
                    <p>Please provide a reason for deleting your account.</p>
                    <div class="input-group mb-3">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.reason|add_class:"form-control"|attr:"placeholder:Reason for deletion" }}
                            <button type="submit" class="btn btn-dark mt-3" id="button-addon2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}