{% extends 'profile/profile_base.html' %}
{% load static widget_tweaks %}
{% load static %}
{% block title_text %}Profile{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css">
<style>
    .iti {
        position: relative;
        display: block;
    }
</style>
{% endblock extra_css %}

{% block profile %}
<form method="POST" accept-charset="UTF-8">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between gap-3">
                <h4 class="mb-sm-0" data-i18n="basicinformation">Basic Information</h4>
                <div class="page-title-right w-auto">
                    <a href="#" class="btn btn-outline-dark text-uppercase" data-bs-toggle="modal"
                        data-bs-target="#change-password" data-i18n="changepassword">
                        Change Password</a>
                    <button type="submit" class="btn btn-dark text-uppercase" data-i18n="updatechanges">
                        Update Changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <label for="first_name" class="mb-1" data-i18n="firstname">
                    First Name
                </label>
                {% render_field form.name class="form-control" placeholder="First Name" %}
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <label for="last_name" class="mb-1" data-i18n="lastname">
                    Last Name
                </label>
                {% render_field form.surname class="form-control" placeholder="Last Name" %}
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <label for="email" class="mb-1" data-i18n="phone">
                    Phone
                </label>
                {% render_field form.phone class="form-control" placeholder="Phone" %}
            </div>
        </div>


        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <label for="number" class="mb-1" data-i18n="dateofbirth">
                    Date of Birth
                </label>
                {% render_field form.dob class="form-control" placeholder="Date of Birth" type="date" %}
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <label for="number" class="mb-1" data-i18n="placeofbirth">
                    Place of Birth
                </label>
                {% render_field form.birth_place class="form-control" placeholder="Place of Birth" %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="number" class="mb-1" data-i18n="personaladdress">
                            Personal Address
                        </label>
                        {% render_field form.address class="form-control" placeholder="Personal Address" %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
<div class="row mt-5">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between gap-3">
            <h4 class="mb-sm-0" data-i18n="yourplan">Your Plan</h4>
            <div class="page-title-right w-auto">
                <a href="{% url 'price:user_card' %}" class="btn btn-dark text-uppercase" data-i18n="changeplan">
                    Change Plan</a>
            </div>
        </div>
        <div class="card shadow-none border-0">
            <div class="card-body table-responsive p-0">
                <table class="table nowrap align-middle" style="width:100%">
                    <thead>
                        <tr>
                            <th data-ordering="false" class="text-uppercase" data-i18n="plannam">Plan
                                Nam</th>
                            <th data-ordering="false" class="text-uppercase"data-i18n="planprice" >Plan
                                Price</th>
                            <th data-ordering="false" class="text-uppercase" data-i18n="paymentmethod">Payment
                                Method</th>
                            <th data-ordering="false" class="text-uppercase" data-i18n="status">Status
                            </th>
                            <th class="text-uppercase" data-i18n="subscriptionstart">Subscription Start</th>
                            <th class="text-uppercase" data-i18n="subscriptionend">Subscription END</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in user_context.subscriber_set.all %}
                        <tr>
                            <td>{{ data.plan.title }}</td>
                            <td>{{ data.price }}</td>
                            <td>{{ data.payment_method }}</td>
                            <td><span class="badge bg-success-subtle text-success">{{ data.status }}</span></td>
                            <td>{{ data.subscription_from }}</td>
                            <td>{{ data.subscription_to }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- <div class="language mt-4">
            <h4>Your Language</h4>
            <ul class="language-select">
                <li>
                    <input type="radio" name="language" id="londan">
                    <label for="londan">
                        <img src="{% static 'assets/images/kingdom.png' %}" alt="kingdom">
                    </label>
                </li>
                <li>
                    <input type="radio" name="language" id="france">
                    <label for="france">
                        <img src="{% static 'assets/images/france.png' %}" alt="france">
                    </label>
                </li>
                <li>
                    <input type="radio" name="language" id="luxembourg">
                    <label for="luxembourg">
                        <img src="{% static 'assets/images/luxembourg.png' %}" alt="luxembourg">
                    </label>
                </li>
                
            </ul>
        </div> -->
    </div>
</div>
<!-- modal -->
<div class="modal fade" id="change-password" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6 d-flex align-items-center gap-2 text-white" id="exampleModalLabel">Change
                    Password<i class="ri-question-fill fs-4 text-white"></i></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'change_password' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="old_password" class="mb-2">Old Password</label>
                        <input type="password" name="old_password" class="form-control border" id="old_password">
                    </div>
                    <div class="form-group">
                        <label for="new_password1" class="mb-2">New Password</label>
                        <input type="password" name="new_password1" class="form-control border" id="new_password1">
                    </div>
                    <!-- Add new_password2 field for password confirmation -->
                    <div class="form-group">
                        <label for="new_password2" class="mb-2">Confirm New Password</label>
                        <input type="password" name="new_password2" class="form-control border" id="new_password2">
                    </div>
                    <!-- Add validation messages if needed -->
                    {% for error in change_user.new_password2.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    <ul class="strong-password">
                        <li id="capital-letter" class="text-danger">
                            <i class="ri-checkbox-blank-circle-fill"></i> At least one capital letter
                        </li>
                        <li id="lowercase-letter" class="text-danger">
                            <i class="ri-checkbox-blank-circle-fill"></i> At least one lowercase letter
                        </li>
                        <li id="min-length" class="text-danger">
                            <i class="ri-checkbox-blank-circle-fill"></i> Minimum character length is 8 characters
                        </li>
                        <li id="at-least-number" class="text-danger">
                            <i class="ri-checkbox-blank-circle-fill"></i> At least one number
                        </li>
                    </ul>
                    <p class="text-gray">The password must be minimum 8 characters, include at least one capital, one
                        lowercase, one number and one special character.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-dark px-4" data-bs-dismiss="modal" data-i18n="changepassword">Change Password</button>
                </div>
            </form>


        </div>
    </div>
</div>

{% block extra_js %}
<script src="{% static 'js/translation.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script>

        function countrySelect(){
            // commerce number
            var phone = document.querySelector("#id_phone");
            window.intlTelInput(phone, {
            initialCountry: "lu",
            separateDialCode: true,
            preferredCountries: ["fr", "lu", "be", "de"]
            });
        }
        
        $(document).ready(function () {
            // Initialize on page load
            countrySelect();
        });
    </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfIFQFEGJ3snlXb8VnRK06CJMYrUiFppI&libraries=places&callback=initAutocomplete" async defer></script>
<script>
    function initAutocomplete() {
        var autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('id_address')
        );

        autocomplete.addListener('place_changed', function() {
            var place = autocomplete.getPlace();
        });
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Function to check if a string contains at least one uppercase letter
        function hasUppercase(str) {
            return /[A-Z]/.test(str);
        }

        // Function to check if a string contains at least one lowercase letter
        function hasLowercase(str) {
            return /[a-z]/.test(str);
        }

        // Function to check if a string has at least one number
        function hasNumber(str) {
            return /\d/.test(str);
        }

        // Function to update the class of list items based on conditions
        function updatePasswordStrength(password) {
            var capitalLetter = document.getElementById("capital-letter");
            var lowercaseLetter = document.getElementById("lowercase-letter");
            var minLength = document.getElementById("min-length");
            var atLeastNumber = document.getElementById("at-least-number");

            capitalLetter.className = hasUppercase(password) ? "text-success" : "text-danger";
            lowercaseLetter.className = hasLowercase(password) ? "text-success" : "text-danger";
            minLength.className = password.length >= 8 ? "text-success" : "text-danger";
            atLeastNumber.className = hasNumber(password) ? "text-success" : "text-danger";
        }

        // Get the new password input element
        var newPasswordInput = document.getElementById("new_password1");

        // Add an event listener to the new password input to update the password strength
        newPasswordInput.addEventListener("input", function (event) {
            var newPassword = event.target.value;
            updatePasswordStrength(newPassword);
        });
    });
</script>
<!-- Google Translate API Script -->
<script type="text/javascript">
    function translateText() {
        var selectedRadio = document.querySelector('input[name="language"]:checked');
        if (!selectedRadio) {
            console.error('No language selected.');
            return;
        }

        var languageCode = selectedRadio.value;
        var labelText = document.querySelector('label[for="' + selectedRadio.id + '"]');
        if (!labelText) {
            console.error('Label text not found.');
            return;
        }
        
        var textToTranslate = labelText.innerText.trim();
        var targetLanguage = languageCode; // Change if needed

        // Call Google Translate API
        var apiUrl = 'https://translate.googleapis.com/translate_a/single?client=gtx&sl=auto&tl=' + targetLanguage + '&dt=t&q=' + encodeURIComponent(textToTranslate);
        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                var translatedText = data[0][0][0];
                alert(translatedText);
            })
            .catch(error => console.error('Error:', error));
    }

    // Attach an event listener to the radio buttons
    document.querySelectorAll('input[name="language"]').forEach(radio => {
        radio.addEventListener('change', translateText);
    });
</script>
{% endblock extra_js %}
{% endblock profile %}