<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-sidebar="light" data-sidebar-size="lg" data-preloader="disable"
  data-theme="default" data-topbar="light" data-bs-theme="light">
{% load static widget_tweaks %}

<head>
  <meta charset="utf-8" />
  <title>Price Plan | Geekig</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content="Mainuddin-Sani Dashboard Template" name="description" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />

  <!-- Fonts css load -->
  <link rel="preconnect" href="https://fonts.googleapis.com/" />
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
  <link id="fontsLink" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap"
    rel="stylesheet" />
  <!--datatable css-->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

  <!-- Layout config Js -->
  <script src="{% static 'assets/js/layout.js' %}"></script>
  <!-- Bootstrap Css -->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/huge-icons/huge-icons.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <!-- App Css-->
  <link href="{% static 'assets/css/app.css' %}" rel="stylesheet" type="text/css" />
  <!-- custom Css-->
  <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
  <section class="plan">
    <div class="container">
      <div class="mb-lg-5 mb-2">
        {% url 'index' as index %}
        <a href="{{ index }}" class="arrows"><i class="ri-arrow-left-line"></i></a>
      </div>
      <div class="plan-main-part">
        <div class="text-center">
          <h2 class="heading">
            We're confident you'll make the smartest choice.
          </h2>
          <p class="description">
            Don't be tight-fisted! A late VAT declaration might cost you your
            business.
          </p>
        </div>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
              type="button" role="tab" aria-controls="pills-home" aria-selected="true">
              Monthly
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
              type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
              Yearly
            </button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
            tabindex="0">
            <div class="row g-3 justify-content-center d-none d-md-flex">
              {% for plan in monthly_plans %}
              <div class="col-lg-3 col-md-6">
                <div class="price-plan">
                  <div class="plan-header">
                    <p>{{plan.title}}</p>
                    <h2>{{ plan.sub_title }}</h2>
                  </div>
                  <div>
                    <ul>
                      <li>
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>Invoice Line </p>
                      </li>
                      <li>
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>Invoice Line </p>
                      </li>
                      <li>
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>Invoice Line </p>
                      </li>
                      <li>
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>Invoice Line </p>
                      </li>
                      <li>
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>Invoice Line </p>
                      </li>
                      <li>
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>Invoice Line </p>
                      </li>
                      <li>
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>Invoice Line </p>
                      </li>
                      <li>
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>Invoice Line </p>
                      </li>
                    </ul>
                  </div>
                  {% if plan.is_free %}
                  <div class="mt-auto">
                    <a href="{% url 'price:free_plan' plan.pk %}" class="w-100 btn btn-primary">Buy Now</a>
                  </div>
                  {% elif plan.pk != current_active_plan.plan.pk %}
                  <div class="mt-auto">
                    <a href="{% url 'price:checkout_session' plan.id %}" class="w-100 btn btn-primary">Buy Now</a>
                  </div>
                  {% else %}
                  <div class="mt-auto">
                    <a href="#" class="w-100 btn btn-primary">Buy Now</a>
                  </div>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="plan-slider d-block d-md-none">
              {% for plan in monthly_plans %}
              <div class="price-plan">
                <div class="plan-header">
                  <p>{{plan.title}}</p>
                  <h2>{{ plan.sub_title }}</h2>
                </div>
                <div>
                  <ul>
                    <li>
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Invoice Line </p>
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Invoice Line </p>
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Invoice Line </p>
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Invoice Line </p>
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Invoice Line </p>
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Invoice Line </p>
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Invoice Line </p>
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Invoice Line </p>
                    </li>
                  </ul>
                </div>
                {% if plan.is_free %}
                <div class="mt-auto">
                  <a href="{% url 'price:free_plan' plan.pk %}" class="w-100 btn btn-primary">Buy Now</a>
                </div>
                {% elif plan.pk != current_active_plan.plan.pk %}
                <div class="mt-auto">
                  <a href="{% url 'price:checkout_session' plan.id %}" class="w-100 btn btn-primary">Buy Now</a>
                </div>
                {% else %}
                <div class="mt-auto">
                  <a href="#" class="w-100 btn btn-primary">Buy Now</a>
                </div>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
            tabindex="0">
            <div class="row g-3 justify-content-center d-none d-md-flex">
              {% for plan in yearly_plans %}
              <div class="col-lg-3 col-md-6">
                <div class="price-plan">
                  <div class="plan-header">
                    <p>{{plan.title}}</p>
                    <h2>{{ plan.sub_title }}</h2>
                  </div>
                  <div>
                    <ul>
                      <li>
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>Invoice Line </p>
                      </li>
                      <li>
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>Invoice Line </p>
                      </li>
                      <li>
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>Invoice Line </p>
                      </li>
                      <li>
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>Invoice Line </p>
                      </li>
                      <li>
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>Invoice Line </p>
                      </li>
                      <li>
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>Invoice Line </p>
                      </li>
                      <li>
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>Invoice Line </p>
                      </li>
                      <li>
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>Invoice Line </p>
                      </li>
                    </ul>
                  </div>
                  {% if plan.pk != current_active_plan.plan.pk %}
                  <div class="mt-auto">
                    <a href="{% url 'price:checkout_session' plan.id %}" class="w-100 btn btn-primary">Buy Now</a>
                  </div>
                  {% else %}
                  <div class="mt-auto">
                    <a href="#" class="w-100 btn btn-primary">Buy Now</a>
                  </div>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="plan-slider d-block d-md-none">
              {% for plan in yearly_plans %}
              <div class="price-plan">
                <div class="plan-header">
                  <p>{{plan.title}}</p>
                  <h2>{{ plan.sub_title }}</h2>
                </div>
                <div>
                  <ul>
                    <li>
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Invoice Line </p>
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Invoice Line </p>
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Invoice Line </p>
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Invoice Line </p>
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Invoice Line </p>
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Invoice Line </p>
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Invoice Line </p>
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-fill"></i>
                      <p>Invoice Line </p>
                    </li>
                  </ul>
                </div>
                {% if plan.pk != current_active_plan.plan.pk %}
                <div class="mt-auto">
                  <a href="{% url 'price:checkout_session' plan.id %}" class="w-100 btn btn-primary">Buy Now</a>
                </div>
                {% else %}
                <div class="mt-auto">
                  <a href="#" class="w-100 btn btn-primary">Buy Now</a>
                </div>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- JAVASCRIPT -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script>
    $(function () {
      $(".plan-slider").slick({
        centerMode: true,
        centerPadding: "60px",
        slidesToShow: 1,
        arrows: false,
      });
      $('button[data-bs-toggle="pill"]').on('shown.bs.tab', function (e) {
        $('.plan-slider').slick('setPosition');
      })
    });
  </script>
</body>

</html>