{% extends "base/base.html" %}
{% load i18n static widget_tweaks %}

{% block title_text %}{% trans 'Password Reset Confirm' %}{% endblock %}
{% block reg_heading_text %}{% trans 'PASSWORD RESET CONFIRM' %}{% endblock %}

{% block content %}
    <section class="auth-page-wrapper py-5 position-relative d-flex align-items-center justify-content-center min-vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card mb-0 border-0 shadow-none mb-0">
                        <div class="card-body p-sm-5 m-lg-4">
                            <div class="text-center mt-2">
                                <h5 class="fs-3xl">{% trans 'Enter your new password' %}</h5>
                            </div>
                            <div class="p-2 mt-5">
                                
                                {% if validlink %}
                                <p class="pb-4">
                                    {% trans 'Please enter your new password twice so we can verfy you typed it correctly!' %}
                                </p>
                                    <form class="col my-auto p-3" method="POST" accept-charset="UTF-8">
                                        {% csrf_token %}
                                        {% include 'snippets/hidden_fields.html' %}
                                    <div class="mb-3">
                                        <label for="password" class="form-label">New Password</label>
                                        {% render_field form.new_password1 class="form-control" id="password" placeholder="Password" %}
                                    </div>
                                    <div class="mb-3">
                                        <label for="new_password2" class="form-label">Confirm New Password</label>
                                {% render_field form.new_password2 class="form-control" id="password" placeholder="Confirm Password" %}
                                    </div>
                                    <div class="mt-4 auth-buttons">
                                        <button class="btn btn-dark w-100" type="submit">{% trans 'CHANGE PASSWORD' %}</button>
                                    </div>
                                </form>
                                {% else %}
                                <p class="p-3 text-danger">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                            {% endif %}
                            </div>
                        </div><!-- end card body -->
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
{% endblock content %}

{% block js_extra %}
    <script src="{% static 'js/passwd_show.js' %}"></script>
    <script src="{% static 'js/btn_loader.js' %}"></script>
{% endblock %}