{% extends "base/base.html" %}
{% load static i18n %}

{% block title_text %}{% trans 'Password Reset Sent' %}{% endblock %}
{% block reg_heading_text %}{% trans 'PASSWORD RESET SENT' %}{% endblock %}

{% block content %}

<section class="auth-page-wrapper py-5 position-relative d-flex align-items-center justify-content-center min-vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card mb-0 border-0 shadow-none mb-0">
                    <div class="card-body p-sm-5 m-lg-4">
                        <div class="p-2 mt-5 text-center">
                            <p class="pb-4">We have sent you instructions via email to set up your password,
                                provided there is an account associated with the email you entered. Please expect to receive
                                them shortly.</p>
                            <p class="mt-2 pb-4">If you do not receive the email, kindly ensure that the
                                entered email address matches the one you used during registration and check your spam
                                folder.</p>
                        </div>
                       
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
{% endblock content %}