<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body style="text-align: center; width: 800px; margin: 0 auto;">
    <h2>Oops! Something went wrong.</h2>
    <p>We sincerely apologize for the inconvenience. Rest assured, we have received all the details 
        regarding this error. Our team analyzes all 
        errors on a weekly basis as part of our commitment to continually improving Leaf's application.</p>
    <a href="/"><img style="width: 100%;" src="{% static 'favicon/error.jpeg' %}" alt=""></a>
    <p>Thank you for your patience and understanding.</p>
</body>
</html>