{% extends 'Core/user/user-base.html' %}

{% block user %}
<div class="card">
    <div class="card-body">
        <div class="tab-content text-muted">
            <div class="tab-pane active" id="home1" role="tabpanel">
                <table class="table">
                    <tr>
                        <th data-i18n="name">Name</th>
                        <th data-i18n="emails">Email</th>
                        <th>Phone</th>
                        <th data-i18n="action">Action</th>
                    </tr>
                    {% for user in object_list %}
                    <tr>
                        <td class="user" id="">
                            <a href="">{{ user.name }}</a>
                        </td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <th>
                            {% if request.session.user_id == user.pk %}
                            <a href="{% url 'core:exit_access_user' user.pk %}" class="badge bg-danger-subtle text-danger">
                                Exit
                            </a>
                            {% else %}
                            <a href="{% url 'core:access_user' user.pk %}" class="badge bg-success-subtle text-success">
                                Access
                            </a>
                            {% endif %}
                        </th>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock user %}