{% extends 'base/dashboard_base.html' %}
{% load static widget_tweaks %}
{% block title_text %}User{% endblock %}


{% block content %}
<div class="container-fluid">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-tabs-custom nav-dark baank mb-3 gap-3">
        <!-- {% url 'core:users' as all_user %}
        <li class="nav-item">
            <a class="nav-link {% if all_user == request.path %} active{% endif %}" href="{{ all_user }}">
                User Access
            </a>
        </li> -->
        {% url 'core:user_permission' as perm %}
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if perm == request.path %} active{% endif %}" href="{{ perm }}">Permission</a>
        </li>
        {% url 'core:organization' as org %}
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if org == request.path %} active{% endif %}" href="{{ org }}">Organization</a>
        </li>

    </ul>
    {% block user %}
    
    {% endblock user %}
</div>
{% endblock content %}
